<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}

            {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
            {{ .Scratch.Set "pagenumber" .Paginator.PageNumber }}
            {{ if eq .Paginator.PageNumber 1 }}
            {{ else }}
              <h3 class="inline current-page">Page {{.Paginator.PageNumber}}</h3>
              <hr>
            {{ end }}

            {{- partial "listcontent.html" . -}}
            {{- partial "pagination.html" . -}}

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>